.login {
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    
  }
  
  .actions {
    text-align: center;
  }
  .account{
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem; 
    color: #4a1188;

  }
  .profile{
    width: 100%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem; 
    color: #4a1188;
    
  }