.register {
  width: 90%;
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
}

.actions {
  text-align: center;
}

.title {
  margin-top: -3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.title h1 {
  font-size: 2rem;
  color:#3a0ddd;
}
